<footer class="footer mt-5 py-4">
  <div class="container text-center">
    <div class="mb-3">
      <a href="#"><i class="fa-brands fa-instagram mx-3"></i></a>
      <a href="#"><i class="fa-brands fa-facebook mx-3"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin mx-3"></i></a>
    </div>
    <div class="f-info-brand">&copy; 2025 PaintStore Pvt. Ltd.</div>
    <div class="f-info-links mt-2">
      <a href="/privacy">Privacy</a> | <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
