<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 class="alert-heading">Oops!</h4>
    <p><%= message %></p>
    <hr>
    <p class="mb-0">
      <a href="/paintings" class="btn btn-sm btn-outline-danger mt-2">Back to Paintings</a>
    </p>
  </div>
</div>
